<!DOCTYPE html>
<html>
<head>
	<title>
		PANEL PRINCIPAL | Shared Knowledge		
	</title>
	{% load static %}
	<link rel="icon" href="{% static 'img/book-2852903_1920.ico' %}">
	<meta charset="utf-8">
	<meta name="keywords" content="apuntes, estudio, materias, estudiar, conocimiento, compartir">
	<meta name="description" content="Shared Knowledge es una página web que permite encontrar y compartir todo tus conocimientos, con otros estudiantes.Unete a la Red social de apuntes">
	<meta name="author" content="Fernández Ian Santiago">
	<meta name="robots" content="index">
	<meta name="robots" content="follow">
	<meta name="robots" content="translate">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
	<style type="text/css">
	  body {
    	background-image: url({% static 'img/books-2596809_960_720.jpg' %});
		background-size: 1024px 768px;
    	 }
  	</style>
</head>
<body>

	<section id="contenedor-principal">
		<div id="contenedor-salida"><a href="https://www.google.com/">	X	</a></div>
		<div id="cont-h2">
		<h2 id="contenedor-titulo"> Sharedge </h2>
		</div>
		<nav id="contenedor-botones">
			<ul id="lista-botones">
				<li><a href="https://www.linkedin.com/in/ian-fern%C3%A1ndez-a72598179/" target="_blank">Contacto</a></li>
				<li><a href="#">¿Quien soy?</a></li>
				<li><a href="#">¿Que es Sharedge?</a></li>
				<li><a href="https://github.com/ianklebold?tab=repositories" target="_blank">Otros proyectos</a></li>
			</ul>
		</nav>

		<ul id="inicio-pagina" >
			<li id="boton-inicio" >
				<a href="{% url 'Login' %}">INICIO</a>
			</li>
		</ul>
	</section>

</body>
</html>