<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Iniciar en Sharedge | Crear Post</title>
	<link rel="icon" href="{% static 'img/book-2852903_1920.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style_forms.css' %}">
	<meta charset="utf-8">
	<meta name="keywords" content="apuntes, estudio, materias, estudiar, conocimiento, compartir, iniciar sesion, registrarse, comenzar">
	<meta name="description" content="Shared Knowledge es una página web que permite encontrar y compartir todo tus conocimientos, con otros estudiantes.Unete a la Red social de apuntes">
	<meta name="author" content="Fernández Ian Santiago">
	<meta name="robots" content="index">
	<meta name="robots" content="follow">
	<meta name="robots" content="translate">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<nav id="navegador-page">	
			<ul>
				<li id="icono_pagina"> 
					<a href="{% url 'wall' %}" id="enlace_icono">
						<img src="{% static 'img/icons8-workstation-96.png' %} " width="98px" height="80px">
					</a>
				</li>
				<li id="buscador_header"> 
						<form method="GET">
						<div><input type="text" placeholder="Busca por categoria, titulo.." name="buscar"></div>	
						<button type="submit"  id="btt-submit">Buscar</button>
						</form>	 
				</li>
				<li id="crear_post"> <a href="{% url 'crear_post' %}" id="enlace_post"> Crear Post </a></li>
				<li id="crear_nota"> <a href="{% url 'crear_nota' %}" id="enlace_nota"> Crear Nota </a> </li>
				<li id="lista_fav">
					<a href="{% url 'listar_destacados' %}"> 
						<img src="{% static 'img/icons8-favorite-folder-96.png' %}" width="60px" height="50px">
					</a>
				</li>
				<li id="lista_config">
					<a href="#"> 
						<img src="{% static 'img/icons8-support-96.png' %}" width="55px" height="55px">
					</a>
					<ul class="submenu-config" >
						<li><a href="{% url 'update-profile' %}" class="enlace-config"><b>Editar Perfil</b></a></li>
						<li><a href="{% url 'wall_notas' %}" class="enlace-config"><b>Solo notas</b></a></li>
					</ul>


				</li>
				<li id="lista_perfil">
					<a href="#"> 
						<img src="{% static 'img/icons8-user-96.png' %}" width="55px" height="55px">
					</a>
					<ul class="submenu-perfil">
						<li><a href="{% url 'profile' user.username %}" class="enlace-perfil"><b>Ver Perfil</b></a></li>
						<li><a href="{% url 'Logout' %}" class="enlace-perfil"><b>Cerrar Sesión</b></a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>

	<section class="content-mensaje" >
		<div class="titulo_seccion"><h2>Crear Post</h2></div>
		<div class="texto_presentacion"><p>Recuerda que para crear un apunte son obligatorios los campos titulo, categoria y archivo.</p></div>
	</section>
	<section class="content-form" >
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<label for="fcat" class="nombre_label">Categoria:</label><br>
			{{form.categoria}}
			<br>
			<label for="ftitulo" class="nombre_label"  class="type_text">Titulo:</label><br>
			<input type="text" name="{{ form.titulo.name }}" class="type_text"  placeholder="Ingresa un titulo"><br>
			<label for="fdesc" class="nombre_label">Descripcion:</label><br>
			<textarea name="{{ form.texto.name }}" class="type_text" maxlength="280" placeholder="Ingresa una descripcion"></textarea><br>
			<label for="fvideo" class="nombre_label">Video:</label><br>
			<input type="url" name="{{ form.video.name }}"  class="type_text" placeholder="Ingresa un video">	<br>
			<label for="feweb" class="nombre_label">Enlace web:</label><br>
			<input type="url" name="{{ form.enlace_web.name }}"  class="type_text" placeholder="Ingresa una direccion web"><br>
			<label for="familyagen" class="nombre_label">Imagen:</label><br>
			<input type="file" name="{{ form.imagen.name }}" class="type_botton"><br>
			<label for="farch" class="nombre_label">Archivo:</label><br>
			<input type="file" name="{{ form.archivo.name }}" class="type_botton"><br>
			<div class="btt_enviar"><input type="submit" value="Crear"></div>
		</form>


	</section>
</body>
</html>