<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>
			Iniciar en Sharedge | Comparte tu conocimiento	

	</title>
	<link rel="icon" href="C:\Users\Santiago\Desktop\Imagenes\book-2852903_1920.ico">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style_inicio.css' %}">
	<meta charset="utf-8">
	<meta name="keywords" content="apuntes, estudio, materias, estudiar, conocimiento, compartir, iniciar sesion, registrarse, comenzar">
	<meta name="description" content="Shared Knowledge es una página web que permite encontrar y compartir todo tus conocimientos, con otros estudiantes.Unete a la Red social de apuntes">
	<meta name="author" content="Fernández Ian Santiago">
	<meta name="robots" content="index">
	<meta name="robots" content="follow">
	<meta name="robots" content="translate">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>	
	<div>
		<p>
			{% if form.non_field.errors %}
			{% for error in form.non_field_errors %}
				{{error}}
			{% endfor %}
			{% endif %}</p>		
		<section class="contenedor">
				<div class="mensaje">
					<h2>Bienvenido a Sharedge Knowledge</h2>
					<p>
						Completa los campos para ingresar.<br>
						O crea una cuenta dando en "Registrarme"
						<br>
						<br>
						<i>Que bueno es verte de nuevo!</i>

					</p>
				</div>
			<form method="POST">
					{% csrf_token %}
					

					<input type="text" name="{{form.username.name}}" class="form-control" placeholder="Ingresa tu usuario" title="Ingresa tu usuario">
					<input type="password" name="{{form.password.name}}" class="form-control" placeholder="Contraseña" title="Ingresa tu contraseña">
				<div class="btt_enviar"><input type="submit"></div>
				<div class="enlace_sesion"><a href="{% url 'Register' %}">Registrarme</a></div>
			
			</form>
		</section>
	</div>

</body>
</html>