{% load humanize %}
<!DOCTYPE html>
<html>
<head>
	<title>{{user.username}}</title>
</head>
<body>
	<h3>Perfil de {{user.username}} </h3>
	<div> Nombre : {{user.first_name}} </div>
	<div> Apellido : {{user.last_name}} </div>

	<div>Imagen : <form><img src="{{user.profile.image.url}}" height="100px" width="100px" alt="Imagen Perfil de {{user.username}}" ></form></div>
	<hr>

	<div>
		<ul><a href="{% url 'profile_notas' user.username %}"> Mostrar Notas</a>  </ul>
		{% for post in posts %}
		<a href="{% url 'profile' post.user.username%}">@{{post.user.username}}</a>
		<div><h3><a href="{% url 'mostrarDetalle' post.titulo %}">{{post.titulo}}</a></h3></div>
			{% if post.texto %}
		<div><p>{{post.texto}}</p></div>
			{% endif %}
		<h4><i>Creado : {{post.fecha_creacion|naturaltime}}</i></h4>

		<div>
			<ol><a href="#">Me gusta</a></ol>
			<ol><a href="#">Guardar</a></ol>
			<ol><a href="#">Escribir Comentario</a></ol>
		</div>
		{% endfor %}
	</div>


</body>
</html>