<!DOCTYPE html>
<html>
<head>
	<title>Iniciar en Sharedge | Comparte tu conocimiento</title>
	<link rel="icon" href="C:\Users\Santiago\Desktop\Imagenes\book-2852903_1920.ico">
	<meta charset="utf-8">
	<meta name="keywords" content="apuntes, estudio, materias, estudiar, conocimiento, compartir, iniciar sesion, registrarse, comenzar">
	<meta name="description" content="Shared Knowledge es una página web que permite encontrar y compartir todo tus conocimientos, con otros estudiantes.Unete a la Red social de apuntes">
	<meta name="author" content="Fernández Ian Santiago">
	<meta name="robots" content="index">
	<meta name="robots" content="follow">
	<meta name="robots" content="translate">
</head>
<body>
	<div>
		<h4>Actualizar Destacado!</h4>
		{% if messages %}
						{% for message in messages %}
						<b>{{message}}</b>
						{% endfor %}
		{% endif %}
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<div><input type="submit"></div>
		</form>
	</div>
</body>
</html>