{% load humanize %}
<!DOCTYPE html>
<html>
<head>
	<title>Detalle post</title>
</head>
<body>
	<h3>Detalle de la publicacion</h3>
	<hr>
	<div> {{publicaciones.titulo}} <strong> creado por : </strong>	@{{publicaciones.user.username}}	</div>

	{%if publicaciones.texto%}
	<div> {{publicaciones.texto}} </div>
	{% endif %}

	{%if publicaciones.video%}
	<div> {{publicaciones.video}} </div>
	{% endif %}

	{%if publicaciones.enlace_web%}
	<div> {{detalle_post.enlace_web}}		</div>
	{% endif %}

	{%if publicaciones.imagen%}
	<div><form><a href="{{publicaciones.imagen.url}}" ><img src="{{publicaciones.imagen.url}}" alt="esta es una foto"></a></form></div>
	{% endif %}
	
	<div>{{publicaciones.archivo.name}}</div>
	<div><a href="{{publicaciones.archivo.url}}" enctype="multipart/form-data">Descargá este apunte</a></div>
	<div> <strong>Categoria : </strong> {{publicaciones.categoria}} | <strong>Publicacion :</strong> <i><time datetime="#"> {{publicaciones.fecha_creacion|naturaltime}}</time></i></div>

	{% if user.username == publicaciones.user.username %}
	<a href="{%url 'update_post' publicaciones.id %}"> Edita tu post aqui</a>
	<a href="{%url 'delete_post' publicaciones.id %}"> Eliminar</a>
	{% endif %}
	<hr>
</body>
</html>