{% load humanize %}

<!DOCTYPE html>
<html>
<head>
	<title>Sharedge Knowldge</title>
	{% load static %}
	<link rel="icon" href="{% static 'img/book-2852903_1920.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style_muroapuntes.css' %}">
	<meta charset="utf-8">
	<meta name="keywords" content="apuntes, estudio, materias, estudiar, conocimiento, compartir">
	<meta name="description" content="Shared Knowledge es una página web que permite encontrar y compartir todo tus conocimientos, con otros estudiantes.Unete a la Red social de apuntes">
	<meta name="author" content="Fernández Ian Santiago">
	<meta name="robots" content="index">
	<meta name="robots" content="follow">
	<meta name="robots" content="translate">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<nav id="navegador-page">	
			<ul>
				<li id="icono_pagina"> 
					<a href="{% url 'wall' %}" id="enlace_icono">
						<img src="{% static 'img/icons8-workstation-96.png' %} " width="98px" height="80px">
					</a>
				</li>
				<li id="buscador_header"> 
						<form method="GET">
						<div><input type="text" placeholder="Busca por categoria, titulo.." name="buscar"></div>	
						<button type="submit"  id="btt-submit">Buscar</button>
						</form>	 
				</li>
				<li id="crear_post"> <a href="{% url 'crear_post' %}" id="enlace_post"> Crear Post </a></li>
				<li id="crear_nota"> <a href="{% url 'crear_nota' %}" id="enlace_nota"> Crear Nota </a> </li>
				<li id="lista_fav">
					<a href="{% url 'listar_destacados' %}"> 
						<img src="{% static 'img/icons8-favorite-folder-96.png' %}" width="60px" height="50px">
					</a>
				</li>
				<li id="lista_config">
					<a href="#"> 
						<img src="{% static 'img/icons8-support-96.png' %}" width="55px" height="55px">
					</a>
					<ul class="submenu-config" >
						<li><a href="{% url 'update-profile' %}" class="enlace-config"><b>Editar Perfil</b></a></li>
						<li><a href="{% url 'wall_notas' %}" class="enlace-config"><b>Solo notas</b></a></li>
					</ul>


				</li>
				<li id="lista_perfil">
					<a href="#"> 
						<img src="{% static 'img/icons8-user-96.png' %}" width="55px" height="55px">
					</a>
					<ul class="submenu-perfil">
						<li><a href="{% url 'profile' user.username %}" class="enlace-perfil"><b>Ver Perfil</b></a></li>
						<li><a href="{% url 'Logout' %}" class="enlace-perfil"><b>Cerrar Sesión</b></a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>
	{% for post in publicaciones %}
	<section id="contenedor-p">
		{% if post.user.profile.image.url %}
		<div id="img-contenedor" >
			<a href="{% url 'profile' post.user.username%}"><img src="{{post.user.profile.image.url}}" height="100px" width="100px"></a>
		</div>
		{% else %}
		<div id="img-contenedor" >
			<a href="{% url 'profile' post.user.username%}"><img src="{% static 'img/icons8-user-96.png' %}" height="100px" width="100px"></a>
		</div>
		{% endif %}
		<div id="name-contenedor"><i id="name-enlace">@<a href="{% url 'profile' post.user.username%}" >{{post.user.username}}</a></i></div>

		<div id="titulo-contenedor" ><h3><a href="{% url 'mostrarDetalle' post.titulo %}"> {{post.titulo}} </a></h3></div>
		{% if post.texto %}
		<div id="desc-contenedor" ><p id="desc-post">{{post.texto}}</p></div>
		{% endif %}
		<div id="contenedor-opc">
			<ul>
				<li id="cont-com"><a href="#"><img src="{% static 'img/icons8-comments-96.png' %}" height="35px" width="35px"></a></li>

				<li id="cont-fav"><a href="{%url 'marcar_destacado' post.id  %}"><img src="{% static 'img/icons8-star-96.png' %}" height="35px" width="35px"></a></li>
			</ul>
		</div>
		
	</section>
	{% endfor %}

</body>
</html>
